* {
  box-sizing: border-box;
}

:root {
  --background-base-hue: 194;
  --column-base-hue: 228;
  --column-base-saturation: 12%;
}

body {
  background-color: hsl(var(--background-base-hue), 48%, 52%);
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
}
